.charts-page {
  padding: 20px;
}

.all-charts-container,
.dashboard-charts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 90%;
  margin: 20px auto;
}

.chart-section,
.dashboard-chart-item {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* En pantallas más pequeñas, todo se apilará en una columna */
@media (max-width: 768px) {
  .all-charts-container,
  .dashboard-charts-container {
    grid-template-columns: 1fr;
  }
}